@font-face {
    font-family: TenorSans;
    src: url(TenorSans-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Raleway-Regular.ttf);
}

* {
  box-sizing: border-box;
  cursor: pointer;
}

body {
  background-color: #fffcf6;
}

.progressbar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cl-container {
  float: left;
  margin-right: 10px;
  width: 400px;
  border-radius: 2px;
  background-color: #030f2b;
  box-shadow: 2px 2px 2px #222;

}

.cl-container-header {
  padding: 5px;
  font-weight: bold;
  color: #edd8a6;
  cursor: move;
  font-family: 'TenorSans';
}

.column-header {
  padding: 0 5px; margin: 0;
  display: inline;
}

hr {
  color: #999;
  margin-bottom: 0;
}

.list-element {
  background: #edd8a6;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #222;
  font-family: 'RalewaySans';

}

.cl-container-body {
  margin: 5px;
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;
  list-style: none;
}

.task-list {
  list-style-type: none;
}

h2 {
  text-align: center;
}
